---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/main.njk
permalink: /tags/{{ tag | slugify }}/
excludeFromSitemap: true
---

<h1 style="text-align: center">Challenges related to «{{ tag }}»</h1>

<div class="all-cards">
  {% for post in collections[ tag ] %}
    {% renderFile "_includes/components/post-card.njk", post = post %}
  {% endfor %}
</div>

