{% if complexity == "easy" %}
    <span class="complexity complexity_easy">Easy</span>
{% endif %}

{% if complexity == "medium" %}
    <span class="complexity complexity_medium">Medium</span>
{% endif %}

{% if complexity == "hard" %}
    <span class="complexity complexity_hard">Hard</span>
{% endif %}
