<footer class="site-footer">
	<div class="site-footer_content">
		<span class="site-footer-credits">
				&copy; {{ metadata.title }} 2023
		</span>

		<span class="site-footer-owner">
			{{ metadata.title }} is maintained by
			<a href="{{ authors.avivasyuta.linkedin }}" target="_blank">{{ authors.avivasyuta.name }}</a> and
			<a href="{{ authors.dakolpakov.linkedin }}" target="_blank">{{ authors.dakolpakov.name }}</a>.
		</span>

		{% set btnClassName = "btn_dark" %}
		{% set actionsClassName = "mobile-actions" %}
		{% include "_includes/components/actions.njk" %}
	</div>
</footer>
